<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HeyThere News</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="http://heytherenews.com/2017/10/10/an_article_about_clinton">
          An article about Clinton
        </a>
      </li>
      <li>
        <a href="http://heytherenews.com/2017/10/10/new_trumpian_order">
          The new Trumpian Order
        </a>
      </li>
      <li>
        <a href="http://heytherenews.com/2017/10/10/how_to_avoid_sweaty_feet">
          How to avoid sweaty feet
        </a>
      </li>
      <li>
        <a href="http://heytherenews.com/2017/10/10/our_democracy_is_under_threat">
          Our democracy is under threat
        </a>
      </li>
      <li>
        <a href="http://heytherenews.com/2017/10/10/101_ways_to_wok_your_dog">
          Delicious recipes from beyond the wall
        </a>
      </li>
    </ul>
  </body>
</html>
